{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "max-len": [1, 120, 2, { "ignoreComments": true }],
    "prop-types": 0,
    "no-console": 0,
    "no-debugger": 0
  },
  "globals": {
    "setTimeout": true,
    "clearTimeout": true,
    "setInterval": true,
    "clearInterval": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
